<nav class="navbar navbar-expand-md navbar-dark">
	<a class="navbar-brand" href="#">
		<img src="../assets/imgs/melvin.png" class="d-inline-block align-top brand-img" alt="">
	</a>
	<h2>
		Hammy's Hut (of Lies)
	</h2>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
		<div class="navbar-nav ml-auto">
			<a class="nav-item nav-link" routerLink="/home" routerLinkActive="active">Home</a>
			<a class="nav-item nav-link" routerLink="/profile" routerLinkActive="active">Profile</a>
			<a class="nav-item nav-link" routerLink="/about-us" routerLinkActive="active">About</a>
		</div>
	</div>
</nav>


<hr>

<router-outlet></router-outlet>