/* You can add global styles to this file, and also import other style files */
body {
	background-color: #383A3F;
	color: #89FFF1;
	font-family:  'Josefin Sans', sans-serif;
}

@font-face {
	font-family: Junction;
	src: url('./assets/fonts/junction-master/Junction-regular.otf');
}

@font-face {
	font-family: League;
	src: url('./assets/fonts/league-gothic-master/LeagueGothic-Regular.otf');
}