img {
	max-height: 100%;
	max-width: 100%;
	border-radius: 50%;
}

.row {
	height: 7rem;
}

.header-col {
	height: 100%;
	display: table
}

.header-center {
	display: table-cell;
	vertical-align: middle;
}

