img {
	max-height: 100%;
	max-width: 100%;
	border-radius: 50%;
	display: block;
}

h2 {
	font-family: 'Luckiest Guy';
 }

.header-row {
	height: 7rem;
	margin: 1rem;
	display: table-row;
}

.header-text {
	text-align: center;
	padding: 5%;
}

.header-col {

}

.image-col {
	position: relative;
}